.ant-input,
.ant-input-password {
  border-radius: 14px;
  font-size: 14px;
}

.ant-select .ant-select-selector {
  border-radius: 14px;
  font-size: 14px;
}

.ant-btn,
.ant-picker,
.ant-input-number {
  border-radius: 14px;
}

.radius {
  border-radius: 14px;
}

.ant-form-item {
  margin-bottom: 16px;
}

.filterSelect .ant-select-selector {
  border-radius: 6px;
}
